body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
}

.circle {
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 50%;
    border: 5px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 200px 0px red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: border-radius 0.5s ease-in-out,
                background-color 0.5s ease-in-out,
                width 0.5s ease-in-out;
    transition-delay: 0.2s;
}

.circle .coke-logo {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
}


.circle:hover {
    border-radius: 10px;
    background-color: red;
    width: 500px;
}

.circle:hover .coke-logo {
    transform: scale(0);
    opacity: 0;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    gap: 20px;

    width: 90%;
    opacity: 0;
}

.circle:hover .card-content {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    transition-delay: 0.5s;

}

.product-text {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-text h1 {
    margin: 0;
    padding: 0;
    color:white;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.circle:hover .product-text h1 {
    opacity: 1;
    transform: translateX(0);
}

.product-text p {
    flex: 1;
    margin: 0;
    padding: 0;
    color:rgb(0, 0, 0);
    font-size: 14px;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn button{
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: transparent;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.circle:hover .product-text p {
    opacity: 1;
    transform: translateX(0);
}

.coke-bottle {
    height: 200px;
    opacity: 0;
    position: relative;
    left: 80px;
}

@keyframes spinAndTilt {
    0% {
        opacity: 0;
        transform: translateX(-100px) scale(0) rotate(0deg);
    }

    50% {
        opacity: 0;
        transform: translateX(0) scale(1) rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0) scale(2) rotate(380deg);
    }
}

.circle:hover .coke-bottle {
    animation: spinAndTilt 0.7s ease-out forwards;

    /* animation-delay: 0.1s; */
}